button{
  padding: 0 10px;
  margin-left: 5px;
  border: none;
}
.active {
 
    color: blue; 
    border: 1px solid #007bff; 
    
  }

  .ellipsis {
    margin: 0 5px;
    padding: 5px 10px;
    color: black;
    cursor: default;
}

.Pagination{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
}